*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.outsideContainer
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #1e293b, #0f172a, #020617, #111827);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
}
.mainContainer
{
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.988);
    backdrop-filter: blur(-10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* responsive width */
    width: 90%;
    max-width: 400px;
}
.countervalue
{
    font-size: clamp(2rem, 5vw, 3rem);
}
.headContainer
{
    background: linear-gradient(135deg, #00ff87, #60efff);
    background-clip: text;
}
.headContainer h1 
{
    color: transparent;
}
.btnContainer
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;           
    justify-content: center;    
}
.btnContainer button
{
    flex: 1 1 100px;           
    max-width: 132px;
    min-width: 90px;
    height: clamp(40px, 6vh, 45px);
    font-size: clamp(14px, 2vw, 15px);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #00ff87, #60efff);
    color: black;
    cursor: pointer;
}
button:hover
{
    transform: scale(1.05);
    transition: 0.5s ease;
}
@media (max-width: 500px) {
    .btnContainer {
        flex-direction: column;
        gap: 10px;
    }
    .btnContainer button {
        width: 100%;
    }
}
@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}