*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.outsideContainer
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #1e293b, #0f172a, #020617, #111827);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
}
.mainContainer
{
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.988);
    backdrop-filter: blur(-10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.countervalue
{
    font-size: 50px;
}
.headContainer
{
    background: linear-gradient(135deg, #00ff87, #60efff);
    background-clip: text;
}
.headContainer h1 
{
    color: transparent;
}
.btnContainer
{
    display: flex;
    gap: 20px;
}
.btnContainer button
{
    width: 132px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #00ff87, #60efff);
    color: black;
    cursor: pointer;
}
button:hover
{
    transform: scale(1.05);
    transition: 0.5s ease;
}
@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}